[Unit]
Requires=capishim-pki.service
After=capishim-pki.service

[Container]
Pod=capishim.pod
Image={{ .Image }}
Volume={{ .StateDir }}/etcd:{{ .StateDir }}/etcd:rw
Volume={{ .StateDir }}/pki:{{ .StateDir }}/pki:ro
Exec={{ .Exec }}