[Container]
Pod=capishim.pod
Image={{ .Image }}
Volume={{ .StateDir }}/pki:{{ .StateDir }}/pki:ro
Volume={{ .StateDir }}/kubeconfigs:{{ .StateDir }}/kubeconfigs:rw
Environment={{ .EnvStateDir }}={{ .StateDir }}
Environment={{ .EnvBindAddr }}={{ .BindAddress }}
Requires=capishim-apiserver.service
After=capishim-apiserver.service
[Service]
Type=oneshot
RemainAfterExit=yes
