[Container]
Pod=capishim.pod
Image={{ .Image }}
Volume={{ .StateDir }}/pki:{{ .StateDir }}/pki:rw
Environment={{ .EnvStateDir }}={{ .StateDir }}
User=0
[Service]
Type=oneshot
RemainAfterExit=yes