[Unit]
Requires=capishim-etcd.service
After=capishim-etcd.service

[Container]
Pod=capishim.pod
Image={{ .Image }}
Volume={{ .StateDir }}/pki:{{ .StateDir }}/pki:ro
Volume={{ .StateDir }}/abac:{{ .StateDir }}/abac:ro
Exec={{ .Exec }}