[Unit]
Requires=capishim-apiserver.service
After=capishim-apiserver.service

[Container]
Pod=capishim.pod
Image={{ .Image }}
Volume={{ .StateDir }}/pki:{{ .StateDir }}/pki:ro
Volume={{ .StateDir }}/webhook-certs:{{ .StateDir }}/webhook-certs:rw
Volume={{ .StateDir }}/kubeconfigs:{{ .StateDir }}/kubeconfigs:rw
Environment={{ .EnvStateDir }}={{ .StateDir }}
Environment={{ .EnvBindAddr }}={{ .BindAddress }}
User=0
Exec={{ .Exec }}
[Service]
Type=oneshot
RemainAfterExit=yes