[Container]
Pod=capishim.pod
Image={{ .Image }}
Volume={{ .StateDir }}/pki:{{ .StateDir }}/pki:rw
Volume={{ .StateDir }}/webhook-certs:{{ .StateDir }}/webhook-certs:rw
Environment={{ .EnvStateDir }}={{ .StateDir }}
User=0
Exec={{ .Exec }}
[Service]
Type=oneshot
RemainAfterExit=yes